@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --cor-de-fundo: #f2f2f2;
  --cor-fonte: #35f242;
  --cor-header: #0d0d0d;
  --cor-fonte-transparente: #35f2427f;
  --normal: 20px;
  --large: 20px;
  --biggest: 55px;
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  margin-left: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
}
header {
  margin: 0;
  background-color: var(--cor-header);
  padding: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--large);
}
h1 {
  margin: 0;
  color: var(--cor-fonte);
}
.index-paragraph,
.index-subtitle {
  text-align: center;
}
.index-subtitle {
}
a {
  color: var(--cor-fonte);
  text-decoration: none;
}
img {
  width: 300px;
  height: 300px;
  padding-top: 20px;
  border-radius: 50%;
}
@keyframes image-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.students-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  text-align: center;
}
.image-student-page {
  display: block;
  margin-top: var(--normal);
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.title-student-page {
  text-align: center;
}
span {
  background-color: var(--cor-fonte-transparente);
}
table {
  margin: 0 auto;
  font-size: var(--large);
  border-collapse: collapse;
  width: 80%;
}
table,
td {
  text-align: center;
}
#table-title {
  font-size: var(--large);
  text-align: center;
  font-weight: bold;
}
table td:hover {
  background-color: var(--cor-fonte-transparente);
}

article {
  width: 80%;
  text-align: justify;
  text-indent: 5%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: var(--normal);
}
